@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;

}
/* Menu */
header{
    position: relative;
}
nav{
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    padding-top: 30px;
    
}

ul{
    display: flex;
    flex-direction: row;
}
ul li{
    margin-left: 20px;
    list-style: none;
    color: #fbf6ffe0;
    font-size: 20px;
    
}
ul li:first-child{
    color: #fff;
    font-weight: 700;
}
ul li span{
    height: 4px;
    background-color: #4fff4b;
    color: #4fff4b;
}
nav div input{
    padding: 16px;
    width: 200px;
    border-radius: 5px 0px 0px 5px;
    background-color: rgba(0, 0, 0, 0.798);
    border: none;
    color: #fff;
}

nav div button{
    width: 65px;
    padding: 10px;
    border: none;
    background-color:  #9e6dc2;
    margin-left: -5px;
    margin-top: -1px;
    vertical-align: middle;
    border-radius: 0px 5px 5px 0px;
}
nav i{
    color: #fbf6ff;
    display:none !important;
}

/* Container */
section {
    display: flex;
    flex-direction: row;
}


section:first-child {
    background-color: #290742;
    width: 100%;
    height: 80vh;
    align-items: center;

}

section .conteiner1-texto{
    width: 50%;
}
section .conteiner1-texto{
    padding-left: 8%;
    word-spacing: 2px;
    line-height: 50px;
}

section .conteiner1-texto h1{
    color: #9e6dc2;
    font-size: 45px;
    width: 80%;
}

section .conteiner1-texto p{
    margin-top: 20px;
    color: #fbf6ffe0;
    font-size: 20px;
    width: 80%;
    line-height: 35px;
}


section .conteiner1-texto a{
    color: #9e6dc2;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}
section .conteiner1-texto img{
    vertical-align: middle;
}

section .conteiner1-post{
    width: 40%;
}
section .conteiner1-post img{
    width: 100%;
}
/* Hr */
hr{
    border: 5px solid #4fff4b;
}
/* Container 2 */

main section:nth-child(3),main section:nth-child(4){
    padding-top: 90px;
    width: 100%;
    background-color: #fbf6ff;
}
main section:nth-child(3) div{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    
}
section .conteiner2-post img{
    width: 70%;
}
.conteiner2-texto h3, .conteiner2-texto p,  .conteiner2-texto hr {
    align-self: start;
    
}
section .conteiner2-post h3,section .conteiner2-texto h3{

    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    color:#290742;
    width: 70%;
}
section .conteiner2-post p, section .conteiner2-texto p{
    width: 70%;
    font-size: 17px;
    word-spacing: 1px;
    line-height: 29px;
}

section .conteiner2-texto h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;

}
section .conteiner2-texto hr, section .conteiner2-post hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.043);
    width: 70%;
}

section .conteiner2-post hr{
    display: none !important;
}
/* Conteiner 3 */
main section:nth-child(4){
    display: flex;
    width: 100%;
    padding-left: 8%;
    flex-direction: row;
}
main section:nth-child(4) div{
    width: 450px;
    margin-right: 5%;
    margin-bottom: 3%;
}
main section:nth-child(4) img{
    width: 100%;
}
main section:nth-child(4) h3{
   
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    color:#290742;
}
main section:nth-child(4) p{
    font-size: 17px;
    word-spacing: 1px;
    line-height: 29px;
}
